<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Svg2Symbol App</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/prism.css">
    <link rel="stylesheet" href="css/custom.css">
  </head>
<body>
  <div id="header-bar" class="row">
    <div class="col-sm-12">
      <p>
        <img id="logo" src="img/logo.png" alt="logo" />
        <img id="banner" src="img/banner.png" alt="svg2symbol app" />
        <button id="convertBtn" class="btn btn-primary" type="button" onclick="importFile()">
          <span>
            Import files.svg <svg class="icon icon-svg-file"><use xlink:href="img/symbol-defs.svg#icon-svg-file"></use></svg>
          </span>
        </button><b>or</b>
        <button id="loadSampleBtn" class="btn btn-link" type="button" onclick="loadSample()">
          <b>Load a Sample</b>
        </button>
        <button id="saveSymbolsBtn" class="btn btn-info" type="button" onclick="getSVGDefsToSave()">
          <span>
            Export symbol-defs.svg <svg class="icon icon-download"><use xlink:href="img/symbol-defs.svg#icon-download"></use></svg>
          </span>
        </button>
        <input id="importBtn" type="file" multiple />
      </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div id="results" class="col-sm-12"></div>
    </div>
  </div>
  <script defer type="text/javascript" src="js/svgxuse.js"></script>
  <script type="text/javascript" src="js/polyfill.js"></script>
  <script type="text/javascript" src="js/bootstrap-native.js"></script>
  <script type="text/javascript" src="js/prism.js"></script>
  <script type="text/javascript" src="js/uuid-random.js"></script>
  <script type="text/javascript" src="js/custom.js"></script>
  </body>
</html>
