html,
body {
  margin:0;
  padding:0;
  height:100vh;
  width:100vw;
  overflow-x:hidden;
  overflow-y: hidden;
  overflow:hidden;
  font-family: sans-serif;
  color: #16181b;
  font-size:12px;
}
body {
  padding-top:75px;
}
textarea {
  resize:none;
}

a, a:hover, a:focus, a:visited, a:active {
  cursor:pointer;
  text-decoration:none;
}

a.card-link,
a.card-link:hover,
.nav-tabs .nav-link {
  color:#16181b;
  cursor:default;
}

.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {
  color:#16181b;
  font-weight:bolder;
}

#inputSvgCode {
  height: 50vh;
  font-family: consolas;
  font-size: 10px;
  margin: 5px 0;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #F0F0F0
}

.hljs,.hljs-subst {
    color: #444
}

.hljs-comment {
    color: #888888
}

.hljs-keyword,.hljs-attribute,.hljs-selector-tag,.hljs-meta-keyword,.hljs-doctag,.hljs-name {
    font-weight: bold
}

.hljs-type,.hljs-string,.hljs-number,.hljs-selector-id,.hljs-selector-class,.hljs-quote,.hljs-template-tag,.hljs-deletion {
    color: #880000
}

.hljs-title,.hljs-section {
    color: #880000;
    font-weight: bold
}

.hljs-regexp,.hljs-symbol,.hljs-variable,.hljs-template-variable,.hljs-link,.hljs-selector-attr,.hljs-selector-pseudo {
    color: #BC6060
}

.hljs-literal {
    color: #78A960
}

.hljs-built_in,.hljs-bullet,.hljs-code,.hljs-addition {
    color: #397300
}

.hljs-meta {
    color: #1f7199
}

.hljs-meta-string {
    color: #4d99bf
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: bold
}


.form-control,a {
  color: #7E18A7;
}

.form-control:href,a:href,.form-control:visited,a:visited {
  color: #7E18A7;
}

.form-control:active,a:active,.form-control:focus,a:focus,.form-control:hover,a:hover {
  color: #7E18A7;
  outline: #7E18A7;
  border-color: #7E18A7;
}

.panel-heading {
  padding: 5px;
}

.panel-footer {
  padding: 5px;
}

[ng-model="textarea"] {
  border: 2px solid #7E18A7;
  border-radius: 5px;
  width: 100%;
  height: 300px !important;
  margin-bottom: 10px;
}

#left .spacer {
  padding-left: 20px;
  padding-right: 20px;
}

.code {
  margin-top: 6.66666667px;
  background: white;
}

.code .hljs,
.code pre,
.code code {
  background: white;
}

.icon {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  background: #c0c0c0;
  padding: 10px;
  margin: 0 auto;
}

.icon svg {
  width: 100%;
  height: 100%;
}

svg.icon.icon-code {
  background: transparent;
  display: inline-block;
  width: 13.33px;
  height: 13.33px;
  stroke: #7E18A7;
  fill: #7E18A7;
  padding: 0;
  padding-top: 2px;
}

svg.icon.icon-svg-file,
svg.icon.icon-download {
  background: transparent;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding: 0;
  margin: 0;
  fill:#ffffff;
}

html,
body {
  font-family: sans-serif;
}

textarea {
  resize:none;
}

.svg_symbol_defs {
  display:none;
}

.code {
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  width:100%;
  border:0;
  overflow:hidden;
  overflow-y:hidden;
  overflow-x:auto;
  white-space: pre;
}

.btn.btn-link,
.btn.btn-link:hover,
.btn.btn-link:focus,
.btn.btn-link:active {
  border: none;
  box-shadow: none;
  outline: none;
  line-height: 0;
  color:#7E18A7;
}

#results {
  height:calc(100vh - 75px);
  overflow:hidden;
  overflow-x:hidden;
  overflow-y:auto;
}

#importBtn,
#saveSymbolsBtn {
  display:none;
}

#results .panel {
  margin-bottom: 0;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: none;
}

#convertBtn,
#saveSymbolsBtn {
  border-radius:0;
}

#convertBtn {
  background:#7E18A7;
  border-color:#7E18A7;
  margin-right:30px;
}

#banner,
#logo {
  display:auto;
  height:50px;
  margin-right:20px;
}

@media only screen and (max-width: 600px) {
  #banner {
    display:none;
  }
  #logo {
    margin-right:5px;
  }
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  min-width: 500px;
  max-width: 700px;
  padding: 2px 10px;
  font-family: Consolas;
  line-height: 1.42857143;
  line-break: auto;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

a.thumbnail,
a.thumbnail:hover,
a.thumbnail:active {
  text-decoration: none;
  cursor: default;
  border-color: #ddd;
  margin-top: 10px;
  margin-bottom: 10px;
}

#header-bar {
  background: #fff;
  z-index: 999;
  position: fixed;
  box-shadow: 0 1px 10px rgba(0,0,0,0.15), inset 0 -1px rgba(255,255,255,0.8);
  top: 0;
  margin-right: 0;
  margin-left: 0;
  padding: 2.5px;
  width: 100%;
}